.App {
  text-align: center;
}

/* styling starts */
.wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 60% 40%;
  justify-content: center;
}
.write-div{
  background-image: url('./Images/3d4.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #000;
  text-align: center;   
  height: 100vh; 
}
.write-div h3{
  margin: 100px 15px 50px 25px;
}
form{
  margin: auto;
}
/* .container{
  height: 100vh;
} */
.textfield{
  margin: 15px 0 !important;
  margin: auto;
}
span{
  color: #C62828;
}
.phone{
  width: 300px !important;
  margin: 20px auto;
}
.btn{
  margin: 15px 0 !important;
}
.write-div h1{
  margin: 120px 15px 40px 25px;
  font-size: 50px;
}
#select-label{
  margin: 20px 0 5px 0;
  text-align: left;
}


/* media query */
@media screen and (max-width:884px) {
  .wrapper{
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
  .write-div{
    display: none;
  }
}